.login-box {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}
.bg-login {
  top: calc(50% - 150px);
  left: 50%;
  transform: translate(-(50%), -50%);
}
.form-login {
  width: 100%;
  max-width: 400px;
  padding: 0 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #db0000;
}
.h-custom {
  height: calc(100% - 72px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
