body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    color: inherit;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
  }
}
* {
  margin: 0;
  padding: 0;
}

.ff-title {
  font-family: "Public Sans", sans-serif;
  color: #ab0033;
}
.min-h-100 {
  min-height: 100vh;
}

.max-h-100 {
  max-height: 100vh !important;
}

.-mt-3 {
  margin-top: -18px;
}

.-mb-1 {
  margin-bottom: -6px;
}

.min-w-300px {
  min-width: 300px;
}

.min-w-150px {
  min-width: 150px;
}

.min-w-100px {
  min-width: 100px;
}

.h-100px {
  height: 100px;
}
.h-60px {
  height: 60px;
}

.custom-scrollbar {
  overflow: auto;
  max-height: 75vh;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
  }
}

.positionX-center {
  left: 50%;
  transform: translateX(-50%);
}

.position-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-12px {
  bottom: 12px;
}

button {
  &:disabled {
    opacity: 0.4 !important;
  }
}

span.required {
  color: red;
}

#btn-custom {
  border: none;
  border-radius: 100px;
  background: #ab0033;
  color: #ffe300;
  &:hover {
    background: #fff2e5;
    color: #ab0033;
  }
}

.btn.btn-submit-quiz {
  border-radius: 12px 0 12px 0;
  background: #ab0033;
  color: #ffe300;
  border: 2px solid #ab0033 !important;
  &:hover,
  &:focus {
    background: #ffe300;
    color: #ab0033;
  }
}

.image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  &.ratio-169 {
    padding-top: calc(100% * 9 / 16);
  }
}

@media only screen and (max-width: 992px) {
  .hidden-widget {
    display: none;
  }
}
